{% extends "NewHome/base.html" %}


{% block main %}
    <h1>About ME</h1>
    <p>Mi nombre es David Hernandez. Soy Ingeniero Industrial, Venezolano, de 32 Años de Edad. Actualmente estoy estudiando en una nueva area de Analisis de Datos y me motive a realizar
      este curso para empezar a tener conocimientos de Python y asi empezar con una base de programacion con un lenguaje que es bastante utilizado y demandado en el area que quiero 
      desarrollarme profesionalmente a corto plazo. 
      
      Saludos 
    </p>
{% endblock %}